


.left {
   
width: 65%;
height:100%;
float:left;
background-color:#F2D8FF;
}

  
  


 .info{
   
    background-color: white;
right:0;
    position: absolute;
    width: 386px;
    height: 48px;
 top:70px;
    left: 900px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
   
    
    color: #1C2C42;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  .maya{
    left:900px;
  }
  

.check
{
  padding:0 20 0 0
}
.lost
{
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  left: 910px;
  color: #516078;
}
.logo
{
  position: absolute;
width: 48px;
height: 48px;
left: 910px;
top: 600px;
}
.mark{
  position: absolute;
width: 297px;
height: 36px;
left: 1000px;
top: 600px;

font-family: 'Metropolis';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
}
.user
{
  height: 21px;
width: 19.17928123474121px;
left: 994px;
top: 324px;
border-radius: 0px;


}

.user1
{
 
  position: absolute;
  width: 328.85px;
  height: 18.67px;
  left: 920.15px;
  top:160px;
  
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  
  color: #1C2C42;
  


}
.response
{
position: absolute;
width: 351px;
height: 96px;
left: 930px;
top: 200px;

font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;



color: #1C2C42;
}

.access
{
 
  top:100px;
}
.pass1
{
  height: 21px;
width: 19.17928123474121px;
left: 960px;
top: 122px;
border-radius: 0px;
}
.pass2
{
  position: absolute;
  width: 328.85px;
  height: 18.67px;
  left: 910px;
  top:160px;
  
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  
  color: #1C2C42;
  
}
.new
{
  object-position:center;
}
.pwd
{
  position: absolute;
width: 351px;
height: 120px;
left: 920px;
top: 210px;

font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;



color: #1C2C42;

}

.img1
{
  padding:100px 30px;
  height: 80%;  
  width: 90%;  
}


body{
 
  display: flex;

 
}

.slider{
  width:900px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  
  width: 850px;
  height:400px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top:100px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #0f0f0f;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #111111;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}


.engage
{
  

padding-right: 5%;
font-family: 'Metropolis';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.l
{

 
  width: 396px;
  height: 48px;
  
  padding-left: 25%;
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  
  text-align: center;
  
  color: #1C2C42;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}